[submodule ".devcontainer/dependencies/aitrios-sdk-console-access-lib-python"]
	path = .devcontainer/dependencies/aitrios-sdk-console-access-lib-python
	url = https://github.com/SonySemiconductorSolutions/-2SCS_cloudSDK_python.git
[submodule ".devcontainer/dependencies/aitrios-sdk-zone-detection-webapp-cs"]
	path = .devcontainer/dependencies/aitrios-sdk-zone-detection-webapp-cs
	url = https://github.com/SonySemiconductorSolutions/aitrios-msft-solution-template-WebApp.git
