[submodule ".devcontainer/dependencies/aitrios-sdk-console-access-lib-python"]
	path = .devcontainer/dependencies/aitrios-sdk-console-access-lib-python
	url = https://github.com/SonySemiconductorSolutions/aitrios-sdk-console-access-lib-python
	branch = develop
