[submodule ".devcontainer/dependencies/aitrios-sdk-console-access-lib-python"]
	path = .devcontainer/dependencies/aitrios-sdk-console-access-lib-python
	url = ../aitrios-sdk-console-access-lib-python
